* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #eee;
  font-family: Georgia, "Times New Roman", Times, serif;
}
nav {
  background-color: white;
  height: 60px;
  width: 100%;
  box-shadow: 1px 1px 6px 1px #ccc;
}
.menu {
  display: flex;
  list-style: none;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
}
.menu li a {
  color: rgb(199, 0, 225);
  background-color: white;
  padding: 21px 20px;
  text-decoration: none;
  margin: 1px;
}
.emp_block {
  display: flex;
  margin: top;
  flex-wrap: nowrap;
  width: 1000px;
}
.emp_block img {
  width: 100%;
  height: 220px;
}
